<!DOCTYPE html>
<html>
  
  <head>
    <style>
      body {
        font-family: avenir, arial;
        background: rgb(40,40,30);
        color: whitesmoke;
      }
      a {
        color: lightblue;
      }
    </style>
  </head>

  <body>
    <h1>
      Code Tutor Sandbox Test!
    </h1>
    <p>
      See <a href="https://github.com/hchiam/code-tutor" target="_blank">https://github.com/hchiam/code-tutor</a>
    </p>
    <p>
      and <a href="https://codepen.io/hchiam/full/mxZpda/" target="_blank">https://codepen.io/hchiam/full/mxZpda/</a>
    </p>
  </body>
  
</html>
